QUESTION 1. What exactly is []?

ANSWER 1. This is the square bracket which is use to represent list value, for now this is empty because there is no items in it. so it is called as empty list.

QUESTION 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [6]:
#ANSWER 2


#TYPE - 1 (IN THIS WE CAN ASSIGN THE VALUE TO THIRD VALUE WITHOUT REPLACING THEH EXISTING VALUE, THE OLD VALUE WILL ONLY JUST MOVE TO THE NEXT INDEX.)
spam = [2, 4, 6, 8, 10]
spam.insert(2,"hello")
print(spam)

#TYPE - 2 (IN THIS THE THIRD VALUE WILL BE REPLACED BY THE NEW VALUE) 
spam = [2, 4, 6, 8, 10]
spam[2] = "hello"
print(spam)

#TYPE-1 ANSWER => [2, 4, 'hello', 6, 8, 10]
#TYPE-2 ANSWER => [2, 4, 'hello', 8, 10]

[2, 4, 'hello', 6, 8, 10]
[2, 4, 'hello', 8, 10]

Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.

QUESTION 3. What is the value of spam[int(int('3'* 2) / 11)]?

In [10]:
#ANSWER 3.
spam = ['a','b','c','d']
spam[int(int('3'* 2) / 11)]

#EXECUTION PROCESS:-
# STEP 1 - FIRST "3" * 2 WILL BE "33"  TOTAL WILL BE "33"/11
# STEP 2 - int("33"/11) will convert 33/11 which will be 3 
# STEP 3 - int(3) will be 3 
# STEP 4 - spam[3]  in spam = ['a','b','c','d'] the spam[3] position value will be 'd'

# answer will be 'd'

'd'

QUESTION 4. What is the value of spam[-1]?

In [12]:
#ANSWER 4. 
spam = ['a','b','c','d']
spam[-1]
# the answer will be 'd'

'd'

QUESTION 5. What is the value of spam[:2]?

In [14]:
#ANSWER 5. 
spam = ['a','b','c','d']
spam[:2]
# the answer will be ['a', 'b']

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

QUESTION 6. What is the value of bacon.index('cat')?

In [24]:
#ANSWER 6. 
bacon = [3.14, 'cat', 11, 'cat', True] 
bacon.index('cat')

# the answer will be the index 1

1

QUESTION 7. How does bacon.append(99) change the look of the list value in bacon?

In [25]:
#ANSWER 7. 
print(bacon) 
bacon.append(99)
bacon
# the answer will be the new bacon list [3.14, 'cat', 11, 'cat', True, 99].

[3.14, 'cat', 11, 'cat', True]

[3.14, 'cat', 11, 'cat', True, 99]

QUESTION 8. How does bacon.remove('cat') change the look of the list in bacon?

In [26]:
#ANSWER 8.
print(bacon)
bacon.remove('cat')
print(bacon)

#new list will be [3.14, 11, 'cat', True, 99]

[3.14, 'cat', 11, 'cat', True, 99]
[3.14, 11, 'cat', True, 99]

QUESTION 9. What are the list concatenation and list replication operators?

In [8]:
#ANSWER 9.

#(1) list concatenation is used to concatenate two lists. it appends one list at the end of the other list and result in a new list as output.

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

output = list1 + list2 
print(output)
# the output for the concateneate operation is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


#(2) list replication operation is making the exact copy. replica operation make the n copy of the string. 
list = "string "
print(list *2)

#the output for the replica operation is string string

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string string

QUESTION 10. What is difference between the list methods append() and insert()?

In [12]:
#ANSWER 10. append() will add the values only at the end of the list but the insert() will add the values in the list anywhere at any index position.

#examples 

val = [1,2,3,4,5]
val.append("ram")
print(val)
val.insert(2,"shita")
print(val)

#as per the above example you can find that at first out the "ram" print at the end of the list but on the second output the the shita is print 
#at the second index point.

[1, 2, 3, 4, 5, 'ram']
[1, 2, 'shita', 3, 4, 5, 'ram']

QUESTION 11. What are the two methods for removing items from a list?

In [21]:
#ANSWER 11. there is del , remove(), pop(), clear() are the type which can use to remove the items from the list.

val = [1,2,3,4,5]
del val[0]
print(val)
#del will use to remove item by the index value.

val.remove(2)
print(val)
#remove() is use to remove the value the name.

val.pop()
print(val)
# pop() is use to remove last item of the list.

val.clear()
print(val)
# clear() is use to remove all items from the list

[2, 3, 4, 5]
[3, 4, 5]
[3, 4]
[]

QUESTION 12. Describe how list values and string values are identical.

ANSWER 12. List is similar to string, both are ordered collection of character, both have index and can be slice, can use for loop to both, both can be concatenated and riplica operation.

QUESTION 13. What's the difference between tuples and lists?

ANSWER 13. 
=> List is a collection which is oradered, changeble, and allow duplicate values.
=> tuple is a collection which is ordered, unchangeble and allow duplicate values.

there is only one difference which list is changeble and tuple is unchangeble.

QUESTION 14. How do you type a tuple value that only contains the integer 42?

In [26]:
#ANSWER 14.
tup = (42,)
type(tup)

# THE COMMA IS MENDATORY FOR THE SINGLE VAUE TO REPRESENT THE TUPLE.

tuple

QUESTION 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [54]:
#ANSWER 15

# DATA is in the form of list 
adata = [1,2,3,4]

#using a list value in tuple() fucntion so we can convert list ti tuple 
tup = tuple(adata)
print(tup)
type(tup)
# tup is in the form of tuple, so to convert tuple to list have to use list() function  
atuple = (1, 2, 3, 4)
alist = list(atuple)
print(alist)

#output will [1, 2, 3, 4]

(1, 2, 3, 4)

tuple

QUESTION 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

ANSWER 16. they cantains references to the list values.

QUESTION 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [74]:
# ANSWER 17. in cop.copy() the old and new list object is sharing the same memory location so if we change into the any of list the changes will
#appers in both list. but in the copy.deep.copy() the object is not have the same memory location any changes in any list will not appers in other list.

# copy.copy() is do shallow copy of the list.
# in normal list shallow copy
import copy
list1 = [1,2,3,4,5]
list2 = copy.copy(list1)
print(list2)
list2[2] = 100
print(list2)
print(list1)

# in nested list shallow copy
list3 = [[1,2,3],[4,5,6],[7,8,9]]
list4 = copy.copy(list3)
print(list3)
print(list4)
list4[1][0] = 100
print(list4)
print(list3)


# deepcopy() in normal list 
import copy
list1 = [1,2,3,4,5]
list2 = copy.deepcopy(list1)
print(list2)
list2[2] = 100
print(list2)
print(list1)

#deepcopy() in the nested list
list3 = [[1,2,3],[4,5,6],[7,8,9]]
list4 = copy.deepcopy(list3)
print(list3)
print(list4)
list4[1][0] = 100
print(list4)
print(list3)

[1, 2, 3, 4, 5]
[1, 2, 100, 4, 5]
[1, 2, 3, 4, 5]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [100, 5, 6], [7, 8, 9]]
[[1, 2, 3], [100, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5]
[1, 2, 100, 4, 5]
[1, 2, 3, 4, 5]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [100, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]